/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  background-color: #ed5136;
  text-align: center;
  line-height: 1;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 40px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 300ms ease;
  font-weight: 800;
  font-family: Source Sans Pro;
  font-size: 16px;
 }

 @media screen and (min-width: 800px) {
.button,
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 20px 60px;
  letter-spacing: .15rem;
  font-size: 20px;
 }
 }

.button-small,
.btn-small {
  padding: 18px 30px;
  font-size: 1.8rem;
}

.button:hover,
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  background-color: #d04932;
  outline: 0;
  box-shadow: 0 0 20px rgba(0,0,0,.15) }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


.btn-white        {background-color: #fff; color: #dc3a2e;}
.btn-white:hover  {background-color: #d04932; color: #fff;}

.btn-blue         {background-color: #3fa3da; color: #fff;}
.btn-blue:hover   {background-color: #3688b5; color: #fff;}

.btn-donate       {padding: 14px 20px; letter-spacing: .07rem;}

@media screen and (max-width: 649px) {
  .btn-donate-mobile {position: absolute; top: 17px; right: 70px; font-size: 14px; padding: 8px 15px;}
}

@media screen and (max-width: 800px) {
  .btn-donate-mobile-overlay  {z-index: 300000; background-color: #fff; color: #d04932;}
}

.btn-donate-form  {width: 100%;}

  @media screen and (min-width: 600px) {
  .btn-donate {padding: 14px 32px;}
  .btn-donate-mobile{position: absolute; top: 19px; right: 90px;}
  }

  @media screen and (min-width: 800px) {
  .btn-donate-mobile{display: none;}
  }

.share {
  padding: 15px 12px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  color: #fff;
}

.share-fb         {background-color: #0071bc; padding: 15px 10px 15px 14px;}
.share-fb:hover   {background-color: #0364a4;}
.share-tw         {background-color: #12c1fd; padding: 15px 15px 15px 12px;}
.share-tw:hover   {background-color: #12ace0;}

.social-o i {
  color: #ed5136;
  font-size: 28px;
  margin-right: 5px;
  border: 2px solid #ed5136;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  padding: 6px 14px 10px 9px;
}

.social-o i:hover {
  color: #fff;
  background-color: #ed5136;
  border-color: #ed5136;
}