.email-module {
	padding: 30px;
	box-shadow: 0 0 30px rgba(0,0,0,.35);
	margin-top: 0;
	position: relative;
	z-index: 999;
	width: 100%;
	margin-left: 0%;
	color: #fff;
}

	@media screen and (min-width: 800px) {
	.email-module {
	padding: 40px;
	margin-top: -110px;
	width: 86%;
	margin-left: 7%;
	}
	}

.email-module-blue {
	background-color: #3fa3da;
}

.email-module-orange {
	background-color: #ed5136;
	border-bottom: 12px solid #ed5136;
}

.email-module .input, .email-module submit {
	width: 100%;
	margin-right: 0%;
}

.email-module submit {
	margin-top: 20px;
}

@media screen and (min-width: 450px) {
.email-module .input {
	width: 46%;
}

.email-module submit {
	width: 100%;
}

.zip {margin-left: 5%;}
}

@media screen and (min-width: 600px) {
.email-module .input {
	width: 31%;
	margin-right: 3%;
}

.email-module submit {
	width: 30%;
}

.zip {margin-left: 0%;}
}
}